
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make your vote</title>
</head>
<body>
    <h3>Please make a vote</h3>
    <form action = "#" method = "POST">
        <label>
            <input type="radio" id="vote_1" name="vote" value="PTI">
            Pakistan Tehreek Insaf (PTI)<br>
        </label>
        <label>
            <input type="radio" id="vote_2" name="vote" value="PML-N">
            <label for="vote_2">Pakistan Muslim League - N (PML-N)<br>
        </label>
        <label>
            <input type="radio" id="vote_3" name="vote" value="PPP">
            Pakistan Peoples Party (PPP)<br>
        </label>
        <label>
            <input type="radio" id="vote_4" name="vote" value="ANP">
            Awami National Party (ANP)<br>
        </label>
        <label>
            <input type="radio" id="vote_5" name="vote" value="JUI-F">
            Jamat I Islami (JUI-F)<br>
        </label>
        <label>
            <input type="radio" id="vote_6" name="vote" value="NOTA">
            None of the Above (NOTA)<br>
        </label>
        <br>
        <button type="submit" value="vote" name="submit">
            Submit Vote
        </button>
    </form>
</body>
</html>